body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 7px;
  height: 40px;
  background: rgba(15, 15, 15, 0.2);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 296px;
  height: 100vh; /* Changed to 100% to make it responsive */
  background-color: white;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 24px;
  transform: translateX(-100%); /* Start hidden off the screen */
  transition: transform 0.5s ease; /* Smooth transition */
}

.overlay.active {
  transform: translateX(0); /* Slide into view */
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-content .menu-icon {
  align-self: flex-start;
  margin-left: -8px;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  width: 100%;
}

.menu-content .regalium {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px !important;
}

.menu-content .provenance {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px !important;
}

.menu-content ul li {
  margin: 24px 0;
}

.menu-content ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.separator {
  width: 270px;
  height: 1px;
  background-color: #000;
  border: none;
  margin: 40px 0; /* Adjust margin as needed */
}

/* dropdown provenance */
.dropdown-content {
  display: none;
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.dropdown-content li {
  margin: 10px 0;
}

.dropdown-content.show {
  display: block;
}

/* card container */

.content-container {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  overflow-x: hidden;
  max-width: 390px;

  margin-left: 16px;
  margin-right: 16px;
  max-width: 1200px;
}

.container h2 {
  color: #a6a171;
  margin-bottom: 12px !important;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.container h1 {
  color: #0f0f0f;
  margin: 0 !important;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 54.4px */
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.container p {
  color: #000;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  margin-top: 12px !important;
  margin-bottom: 32px !important;
}

.card {
  border-radius: 4px;
  width: auto;
  height: 536px;
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: left;
  flex: 1;
  border-radius: 4px;
  background: #e0e0e8;
}

.card-content h3 {
  color: #1d1d1d;

  font-family: Merriweather;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-content p {
  color: #1d1d1d;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}

/* adjusted height for card2 */
.card2 {
  border-radius: 4px;
  width: auto;
  height: auto;
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.card3 {
  border-radius: 4px;
  width: auto;
  height: auto;
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.card2 .card-content p {
  color: #1d1d1d;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}
