@font-face {
  font-family: "Avenir Next";
  src: url("fonts/Avenir\ Next.ttc") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Agentur";
  src: url("fonts/FontsFree-Net-Agentur-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Agentur Display";
  src: url("fonts/FontsFree-Net-Agentur-Display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #0c0707;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 7px;
  height: 40px;
  background: rgba(15, 15, 15, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 296px;
  height: 100%; /* Changed to 100% to make it responsive */
  background-color: white;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 24px;
  transform: translateX(-100%); /* Start hidden off the screen */
  transition: transform 0.5s ease; /* Smooth transition */
  overflow-y: auto;
}

.overlay.active {
  transform: translateX(0); /* Slide into view */
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-content .menu-icon {
  align-self: flex-start;
  margin-left: -8px;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  width: 100%;
}

.menu-content .regalium {
  color: #f0362f;
  font-family: "Agentur Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 32px !important;
}

.menu-content .provenance {
  color: #000;

  font-family: "Agentur Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 32px !important;
}

.menu-content ul li {
  margin: 24px 0;
}

.menu-content ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.separator {
  width: 270px;
  height: 1px;
  opacity: 0.3;
  background: #a9a9a9;
  border: none;
  margin: 40px 0; /* Adjust margin as needed */
}
/* dropdown provenance */
.dropdown-content {
  display: none;
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.dropdown-content li {
  margin: 10px 0;
}

.dropdown-content.show {
  display: block;
}

.content-container {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  overflow-x: hidden;
  max-width: 390px;

  margin-left: 16px;
  margin-right: 16px;
  max-width: 1200px;
}

.container h3 {
  color: #a6a171;

  font-family: "Meie Script";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.container h2 {
  color: #bc4121;

  font-family: "Roboto Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.container h1 {
  color: #fff;

  font-family: Agentur;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.container p {
  color: #dcdcdc;

  font-family: "Avenir";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 21.6px */
  opacity: 0.8;
  margin-top: 12px !important;
  margin-bottom: 32px !important;
}
.slider {
  position: relative;
  max-width: 390px;
  height: 477px;
  overflow-x: hidden;
  margin-left: 16px;
  margin-bottom: 100px;
}

.slide {
  position: absolute;
  width: 280px;
  height: 477px;
  padding-right: 10px;
  transition: transform 1s ease-in-out;
}

.slide img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding-left: 16px;
  padding-top: 40px !important; /* Add padding to ensure left margin of 16px */

  color: white;
  box-sizing: border-box;

  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;

  color: white;
}

.slide-content h2 {
  color: #fff;

  font-family: Agentur;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.slide-content h3 {
  align-self: stretch;
  color: #fff;

  font-family: "Roboto Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.slide-content p {
  color: #fff;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}
