body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 7px;
  height: 40px;
  background: rgba(15, 15, 15, 0.2);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* overlay */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 296px;
  height: 812px;
  background-color: white;

  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 24px;
  transition: all 0.3s ease;
}

.overlay.active {
  display: block;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-content .menu-icon {
  align-self: flex-start;
  margin-left: -8px;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  width: 100%;
}

.menu-content .regalium {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px !important;
}

.menu-content .provenance {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px !important;
}

.menu-content ul li {
  margin: 24px 0;
}

.menu-content ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.separator {
  width: 270px;
  height: 1px;
  background-color: #000;
  border: none;
  margin: 40px 0; /* Adjust margin as needed */
}
/* dropdown provenance */
.dropdown-content {
  display: none;
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.dropdown-content li {
  margin: 10px 0;
}

.dropdown-content.show {
  display: block;
}

.hero-section {
  position: relative; /* Position relative to allow correct z-index stacking */
  height: 100vh;
  width: 100%;
  background-image: url("image copy 11.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99; /* Below the header and overlay */
}
.unlock-box {
  position: absolute; /* Changed from fixed to absolute */
  top: 50%; /* Centered vertically inside the .hero-section */
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, -50%); /* Center the element to the exact middle */
  width: 80%; /* Adjust width as needed */
  max-width: 400px; /* Maximum width */
  height: auto; /* Height is set to auto, so it adjusts based on content */
  margin: auto; /* For additional centering */
  /* Padding inside the box */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    169deg,
    rgba(85, 85, 85, 0.2) 2.81%,
    rgba(74, 6, 51, 0.2) 91.66%
  );

  box-shadow: 0px 4px 7.3px 0px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(8.5px);
  /* No need for opacity and pointer-events since it should be always visible */
  z-index: 10;
  padding: 10px;
  opacity: 0; /* Initially make it invisible */
  visibility: hidden; /* Hide the box */
  transition: opacity 0.5s, visibility 2s; /* Ensure it is above the .hero-section content but below the header */
}
.unlock-box h2, /* Assuming 'INTRODUCING' is within an <h2> */
.unlock-box h1 {
  /* Assuming 'REGALIUM' is within an <h1> */
  text-align: center; /* Center the text */
  width: 100%; /* Full width */
  margin: 0.5em 0; /* Spacing for aesthetic */
}

.unlock-box p {
  width: auto;
  height: auto;
  color: #fff;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 76px; /* 150% */
}

.unlock-box h2 {
  padding-top: 76px;
  padding-bottom: 8px;
  color: #fff;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.unlock-box h1 {
  color: #fff;

  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.unlock-box {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

/* Ensure these styles are correct */
body.fade-in .unlock-box {
  opacity: 1;
  visibility: visible;
}
.section.theLocation {
  display: flex;
  flex-direction: column;
  background: #f5f1f6;
}

.section.theLocation .image-container {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 40px;
  padding-top: 56px;
  width: auto;
  height: auto;
  /* Add any additional styling here */
}

.section.theLocation .image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.section.theLocation .text-container {
  height: auto;
}

.section.theLocation .location-heading {
  color: #000;
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.section.theLocation .paragraph-box {
  width: auto;
  height: auto;
  align-self: stretch;
  color: #000;

  font-family: "Work Sans";
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  opacity: 0.8;
  margin-left: 48px !important;
  margin-right: 48px !important;
  margin-bottom: 56px;
}

.section.white-background {
  background-color: #fff; /* White background */
  padding-top: 48px; /* 20px gap from the previous section */
}

.blueprints-heading {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Work Sans";
  font-weight: 400;
  color: #000;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #a6a171;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase; /* Gap after the heading */
}

.planned-innovation-heading {
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  height: auto;
  color: #000;

  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 12px; /* Gap before the heading */
}

.blueprints-heading2 {
  padding-left: 16px;
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-bottom: 24px !important;
  text-transform: uppercase;
  color: #848484;
  /* Gap after the heading */
}

.paragraph-box2 p {
  color: #000;
  font-family: "Work Sans" !important;
  opacity: 0.8 !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 19.2px; /* 19.2px */
  width: auto;
  height: auto;
  margin-left: 16px;
  margin-right: 16px;
}

h3 a {
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  color: #5e6795;
  text-align: right;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}

.image-gallery1 {
  /* Horizontal image grid styling */
  /* You can use flexbox or CSS grid to create the image grid */
  /* For example, if using flexbox: */

  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
}

/* Style for individual images in the gallery goes here */
.image-gallery {
  display: flex;
  flex-direction: column; /* Stack sliders vertically */
}

.slider1 {
  max-width: 100%;
  display: flex;
  overflow-x: hidden; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap images to container's boundaries */
  /* Adjust as needed */
}

.slider2 {
  max-width: 100%;
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap images to container's boundaries */
  /* Adjust as needed */
}

.slider1 img {
  width: 175px; /* Width for images in the first slider */
  height: auto;
  padding-right: 4px;
  padding-bottom: 4px; /* Height for images in the first slider */

  object-fit: cover; /* Adjust spacing between images */
}

.slider2 img {
  width: 315px; /* Width for images in the first slider */
  height: auto;
  padding-right: 4px; /* Height for images in the first slider */

  object-fit: contain; /* Adjust spacing between images */
}

/* The Modal (background) */

/* The Modal (background) */
/* The Modal (background) */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
  max-width: 100%;
  max-height: 100%;
  /* Rotate to landscape orientation */
  object-fit: contain;
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.slider:nth-child(2) img {
  width: 315px; /* Width for images in the second slider */
  height: 180px; /* Height for images in the second slider */

  object-fit: contain; /* Adjust spacing between images */
}

.image-slider {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
  position: relative;
  scroll-behavior: smooth;
  padding-top: 32px;
}

.slide {
  flex: 0 0 auto;
  width: 295px;
  height: 577px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-left: 16px;
  margin-bottom: 100px;
  /* Aligns text to the bottom */
}

.slider-container .image-slider img {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
}

.slider-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 357px;
  height: 582px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.slider-popup.active {
  display: flex;
}

.slider-content {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-section {
  width: 100%;
  height: 200px;

  flex-shrink: 0;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-content {
  height: auto;
  margin: 16px;
  text-align: left;
  margin-left: 16px;
  overflow-y: hidden;
}
.text-content h2 {
  color: #a6a171;
  margin: 0;

  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.text-content .text-content p {
  margin: 0 !important;
  padding: 0 !important;
  color: #0f0f0f;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 20.4px */
}

button.prev,
button.next,
button.close {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: black;
  cursor: pointer;
  user-select: none;
}

button.prev {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

button.next {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

button.close {
  top: 10px;
  right: 10px;
  transform: none;
  font-size: 1.5em;
  color: white;
}

.image-text {
  color: #fff;
  font-family: "Merriweather", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 10px; /* Padding from the bottom and left of the image */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better readability */
  transition: all 0.3s ease;
}

.short-text {
  display: block;
}
.long-text {
  display: none;
  transition: max-height 2s ease, opacity 2s ease;
}
.short-text h2 {
  color: #fff;

  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.short-text p {
  color: #fff;

  font-family: "Work Sans";
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  text-transform: none;
}

.long-text p {
  align-self: stretch;
  color: #fff;
  width: auto;

  font-family: "Work Sans";
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: none;
}

.long-text h2 {
  color: #fff;

  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.learn-more,
.see-less {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
  text-decoration: underline;
  cursor: pointer;
}

/* Optional: Hide scrollbar */
.image-slider::-webkit-scrollbar {
  display: none;
}

.image-slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  width: 100%;
}

.container h2 {
  color: #a6a171;
  margin-bottom: 12px !important;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-left: 16px;
  margin-right: 16px;
}

.container h1 {
  margin-left: 16px !important;
  margin-right: 16px !important;
  width: auto;
  font-size: 24px;
  color: #333;
  color: #0f0f0f;

  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 54.4px */
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.container p {
  margin-left: 16px !important;
  margin-right: 16px !important;
  width: auto;
  color: #666;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 32px;
  color: #000;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 0 16px; /* Margin on the left and right */
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.slider-container {
  width: 100%;
  margin-left: 16px;
  overflow-x: auto; /* Allows horizontal scrolling */
  white-space: nowrap;
  margin-bottom: 100px; /* Keeps images in a single line */
}

.image-slider img {
  width: 132px !important; /* Adjust height as per your design */
  display: flex;
}

.card {
  border-radius: 4px;

  display: flex;
  justify-content: center;
  margin: 0 16px;
  width: auto;
  height: auto;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-image {
  width: auto;
  height: auto;
  object-fit: cover;
}

.card-content {
  text-align: left;
  flex: 1;

  background: #e0e0e8;
}

.card-content h3 {
  color: #1d1d1d;

  font-family: Merriweather;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.card-content p {
  color: #1d1d1d;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 36px !important;
}

/* adjusted height for card2 */
.card2 {
  border-radius: 4px;

  display: flex;
  justify-content: center;
  margin: 0 16px;
  width: auto;
  height: auto;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}

.card2 .card-content p {
  color: #1d1d1d;

  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}

.experience-box {
  margin-bottom: 100px !important;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0 16px;
  padding: 8px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #000;
  text-align: center; /* Ensures text is centered if it wraps to a new line */
}

.experience-link {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Set the text color to black */
  display: block; /* Makes the link fill the entire area of the div for better clickability */
  width: 100%; /* Ensures the link covers the whole width of the box */
  height: 100%; /* Ensures the link covers the full height of the box */
}

.container .new-section {
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 100px;

  display: flex;
  /* Negative left margin to counteract container margin */
  margin-right: -19.5px; /* Negative right margin to counteract container margin */
  height: 286px;
}
.container .new-section .content {
  flex: 1;
  padding: 16px;

  background: #f7f6f2;
  text-align: left;
}

.container .new-section .content h2 {
  margin-top: 0 !important;
  margin-bottom: 5px !important; /* Override margin-top */
  padding: 0; /* Override any other padding */
  color: #9d8854;

  font-family: "Work Sans";
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  font-variant: all-small-caps;
  letter-spacing: 2.4px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: normal;
}

.container .new-section .content {
  padding-left: 16px;
  padding-right: 16px;
}

.new-section .content ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0;
  /* Remove margin */
}

.new-section .content ul li {
  width: 125px;
  margin-bottom: 16px; /* Space between list items */
  position: relative;
  color: #000;
  letter-spacing: 1.2px;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  letter-spacing: 1.2px;
  text-transform: capitalize; /* Position relative to enable text indent */
}

.new-section .image-container {
  flex: 1;
  height: 286px;
  width: 186px;
}

.new-section .image-container img {
  width: 186px;
  height: 100%;

  object-fit: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Work Sans", Arial, sans-serif;
  /* Added background color to match design */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
}

.rectangle-block {
  width: 100%;
  max-width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Ensure no margins */
  padding: 0; /* Ensure no padding */
}

.rectangle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0; /* Ensure no margins */
  padding: 0; /* Ensure no padding */
}

.content-container {
  width: 100%;
  max-width: auto;
  height: 455px;
  background: url("provenance.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content at the bottom */
  align-items: center;
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margins */
  position: relative; /* For absolute positioning of text */
}

.content-background {
  padding: 20px;

  width: calc(100% - 40px); /* Ensure no overflow */
  height: calc(100% - 40px); /* Ensure no overflow */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content at the bottom */
  align-items: center;
  position: relative; /* For absolute positioning of text */
}

.content-text {
  margin-bottom: 20px; /* Add some spacing from the bottom */
  text-align: center; /* Center text horizontally */
}

.content-title {
  font-size: 40px;
  font-family: "Merriweather", serif;
  margin: 0;
  color: #f0f0f0; /* Ensure the text color matches the design */
}

.content-subtitle {
  margin: 0;
  color: #f0f0f0;
  color: #fff;
  width: 239px;
  text-align: center;
  font-family: Merriweather;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase; /* Ensure the text color matches the design */
}
.footer {
  width: 100%;
  max-width: auto;
  height: 512px;
  background: #021712;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between the top and bottom sections */
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box; /* Ensure padding is included in height */
}

.top-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add spacing between the top and bottom sections */
}

.explore-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s, color 0.3s;
}

.explore-button:hover {
  background-color: white;
  color: black;
}

.bottom-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.address,
.contact {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.address h1 {
  color: #e6eeec;

  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  gap: 16px;
}

.contact h1 {
  color: #e6eeec;

  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
.address p,
.contact p {
  margin: 5px 0;
  color: #e6eeec;

  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-bottom: 40px;
}

.address p {
  gap: 54px;
}

.contact p {
  color: #cfbd98;

  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
@media (max-width: 768px) {
  .image-grid {
    flex-direction: column;
  }
  .image-grid img {
    width: 100%;
    margin-bottom: 20px;
  }
}
